.editor{
    text-align: center;
    padding: 52px 0 88px;
    &__title {
        @include montserrat-bold;
        font-size: 26px;
        line-height: 28px;
        color: #635C73;
        margin: 0;
        text-transform: uppercase;

        @media (min-width: $screen-md) {
            font-size: 42px;
            line-height: 42px;
        }

        @media (min-width: $screen-lg) {
            font-size: 54px;
            line-height: 54px;
        }
    }

    &__text {
        @include lato-reg;
        font-size: 14px;
        line-height: 20px;
        color: #323232;
        margin: 30px 0 0;
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: $screen-md) {
            font-size: 21px;
            line-height: 32px;
            padding-left: 30px;
            padding-right: 30px;
        }
        @media (min-width: $screen-lg) {
            margin-top: 35px;
            padding-left: 120px;
            padding-right: 120px;
        }
    }

    &__links-wrapper{
        padding: 10px 11px;
        margin-left: auto;
        margin-right: auto;
        max-width:300px;
        @media (min-width:$screen-md) {
            min-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__link-body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content:center;

        &__icon {
            color: #333;
            font-weight: 700;
        }
    }
    &__wrapper{
        margin-top: 79px;
    }
    @media (min-width:$screen-md) {
        padding-top: 80px;
        padding-bottom: 98px;
    }
    @media (min-width: $screen-lg) {
        padding-top: 60px;
        padding-bottom: 70px;
    }
}
.icons{
    margin: 25px 0 0;
    &__item{
        border: 0.5px solid #d5d5d5;
        border-radius: 3px;
        margin:5px 10px 10px 5px;
        display: flex;
        align-items: center;
    }
    &__link{
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        padding: 2px 10px;
        border-right: 1px solid black;
    }
    &__number{
        margin-left: 7px;
        margin-right: 5px;
        width: 100%;
    }

    @media (min-width: $screen-md) {
        margin-top: 25px;
    }
    @media (min-width: $screen-lg) {
        margin-top: 35px;
    }
}
.editor-link-body__item{
    border: 0.5px solid grey;
    border-radius: 3px;
    margin:5px 10px 10px 5px;
    display: flex;
    align-items: center;
}
.editor-link-body__link{
    background-color: #e1e4e8;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border-right: 1px solid black;
}
.editor-link-body__number{
    margin-left: 7px;
    margin-right: 5px;
    width: 100%;
}
