.features {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 32px;
        overflow-x: hidden;
        @media (min-width: $screen-lg) {
            align-items: flex-start;
            flex-wrap: wrap;
            padding-top: 100px;
            padding-bottom: 35px;
            max-height: 700px;
        }
    }
    &__title {
        @include montserrat-bold;
        font-size: 32px;
        line-height: 38px;
        color: $accentCol;
        margin: 0;

        @media (min-width: $screen-md) {
            font-size: 42px;
            line-height: 44px;
        }

        @media (min-width: $screen-lg) {
            font-size: 48px;
            line-height: 50px;
        }
    }
    &__img-wrapper {
        margin-top: 58px;
        align-self: flex-end;

        @media (min-width: $screen-lg) {
            margin-top: 0px;
        }
    }
    &__img {
        @media (min-width: $screen-lg) {
            margin-top: 20px;
        }
    }

    @media (min-width: $screen-lg) {
        background-color: #f4f4f4;
    }

}

.blocks {
    @include zero-marg;
    padding-left: 15px;
    padding-right: 15px;
    &__item {
        margin-top: 36px;

        @media (min-width: $screen-md) {
            display: flex;
        }
        @media (min-width: $screen-lg) {
            margin-top: 33px;

        }
    }

    &__item:first-child {
        @media (min-width: $screen-lg) {
            margin-top: 0;

        }
    }

    &__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 115px;
        margin-right: 20px;
    }

    &__icon {
        object-fit: contain;
        @media (min-width: $screen-md) {

        }
    }
    &__text-content {
        margin-top: 27px;

        @media (min-width: $screen-md) {
            text-align: left;
            margin-top: 0;
        }
    }
    &__title {
        @include montserrat-reg;
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        margin: 0;
    }
    &__text {
        @include lato-reg;
        font-size: 14px;
        line-height: 21px;
        color:#848E97;
        margin: 14px 0 0;

        @media (min-width: $screen-md) {
            max-width: 500px;
        }

        @media (min-width: $screen-lg) {
            max-width: 350px;
        }
    }

    @media (min-width: $screen-md) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $screen-lg) {
        order: -1;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 50px;
    }
}
