.pricing {
    @include montserrat-reg;
    background-image: url(../img/main/pricing/pricing-bg-sm.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 12px;
    margin-top: -10px;
    &__title {
        @include montserrat-bold;
        font-size: 28px;
        line-height: 42px;
        color: $whiteCol;
        margin: 0;

        @media (min-width: $screen-md) {
            font-size: 42px;
            line-height: 44px;
        }
    }

    @media (min-width: $screen-md) {
        padding-top: 50px;
    }
}

.serv {
    @include zero-marg;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
        padding-bottom: 30px;
        width: 257px;
        height: 457px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #5F5161;
        font-size: 24px;
        line-height: 24px;
        color: $whiteCol;

        @media (min-width: $screen-md) {
            margin-right: 25px;
            margin-bottom: 30px;
        }

        @media (min-width: $screen-md) {
            margin-right: 25px;
            margin-bottom: 30px;
        }
    }

    &__item:not(:first-child) {
        margin-top: 18px;

        @media (min-width: $screen-md) {
            margin-top: 0;
        }
    }

    &__item:last-child {
        @media (min-width: $screen-lg) {
            margin-right: 0;
        }
    }

    &__title {
        width: 100%;
        height: 97px;
        background-color: #695B6A;
        text-transform: uppercase;
        padding-top: 36px;
    }

    &__price {
        @include montserrat-bold;
        font-size: 60px;
        line-height: 62px;
        margin-top: 30px;
    }

    &__dol {
        @include montserrat-reg;
    }

    &__month {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        margin-top: 20px;
    }

    &__month::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        background-color: #8D81AC;
        margin: 38px auto 0;
    }

    &__desc {
        font-size: 16px;
        line-height: 28px;
        margin-top: 35px;
    }

    &__btn {
        font-size: 15px;
        color: $whiteCol;
        padding: 13.5px 36px;
        background-color: #776B79;
        border-radius: 40px;
        text-transform: uppercase;
        margin-top: 39px;
    }

    @media (min-width: $screen-md) {
        flex-flow: row wrap;
        justify-content: center;
    }

}

.scaled {
    width: 300px;
    height: 560px;
    background-color: #473249;
    &__title {
        background-color: #3F2C41;
    }
    &__price {
        font-size: 82px;
        line-height: 84px;
        margin-top: 14px;
    }
    &__month {
        margin-top: 16px;
    }
    &__month::after {
        margin-top: 46px;
    }
    &__desc {
        margin-top: 40px;
    }
    &__btn {
        margin-top: 83px;
        padding: 18.5px 48px;
        font-size: 16px;
    }

    @media (min-width: $screen-md) {
        margin-left: -42px;
    }

    @media (min-width: 867px) {
        margin-left: 25px;
    }

    @media (min-width: 934px) {
        margin-left: 0;
    }

}
